@model CalendarApp.Models.ViewModels.MonthViewModel
@using CalendarApp.Models.ViewModels;
@{
    ViewData["Title"] = "Calendar";

    var toolBarModel = new CalendarToolBarViewModel() {
        CurrentDate = DateTime.Now, 
        LastDate = Model.LastMonth, 
        NextDate = Model.NextMonth, 
        ToolbarText = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.Month).ToString() + " " + Model.Year, 
        ViewActionName = "Week"
    };
}
<link rel="stylesheet" href="~/css/calendar.css" />
<div>
    <partial name="CalendarToolBar" model="toolBarModel" />
    <div class="calendar-frame">
        @for (int i = -(int)Model.StartDay; i < 42 - (int)Model.StartDay; i++)
        {
            var day = i < 0 ? new DateTime(Model.Year, Model.Month - 1 == 0 ? 12 : Model.Month - 1, Model.LastMonthDaysInMonth + i + 1).DayOfWeek.ToString() :
                      i >= Model.DaysInMonth ? new DateTime(Model.Year, Model.Month + 1 == 13 ? 1: Model.Month + 1, i - Model.DaysInMonth + 1).DayOfWeek.ToString() :
                      new DateTime(Model.Year, Model.Month, i + 1).DayOfWeek.ToString();
            var dayNum = i + 1;
            var cellid = day + i;

            if (i >= 0 && i < Model.DaysInMonth)
            {
                if (DateTime.Now.Day == i + 1 && DateTime.Now.Month == Model.Month)
                {
                    <div class="calendar-cell @day current-day" id="@cellid">
                        <div class="day-header">@dayNum</div>
                        <div class="day-body"></div>
                    </div>
                }
                else
                {
                    <div class="calendar-cell @day" id="@cellid">
                        <div class="day-header">@dayNum</div>
                        <div class="day-body"></div>
                    </div>
                }
            }
            else if (i < 0)
            {
                <div class="calendar-cell @day last-month-cell" id="@cellid">
                    <div class="day-header">@(Model.LastMonthDaysInMonth + dayNum)</div>
                    <div class="day-body"></div>
                </div>
            }
            else if (i >= Model.DaysInMonth)
            {
                <div class="calendar-cell @day next-month-cell" id="@cellid">
                    <div class="day-header">@(dayNum - Model.DaysInMonth)</div>
                    <div class="day-body"></div>
                </div>
            }
        }
    </div>
</div>
