@model CalendarApp.Models.ViewModels.WeekViewModel
@using CalendarApp.Models.ViewModels;
@{
    ViewData["Title"] = "Week";

    var date = Model.StartDate.Date.ToString();
    date = date.Remove(date.LastIndexOf(':') - 5, 11);
    var toolBarModel = new CalendarToolBarViewModel()
    {
        CurrentDate = DateTime.Now,
        LastDate = Model.LastWeek,
        NextDate = Model.NextWeek,
        ToolbarText = "Week of " + date,
        ViewActionName = "Month"
    };
}

<link rel="stylesheet" href="~/css/calendar.css" />
<div>
    <partial name="CalendarToolBar" model="toolBarModel" />
    <div class="week-frame">
    @for (int i = 0; i < 7; i++)
    {
        var dt = Model.StartDate.Add(new TimeSpan(i, 0, 0, 0)).Date;
        var cellid = dt.DayOfWeek;
        if (DateTime.Now.Date == dt)
        {
            <div class="week-day-cell current-day" id="@cellid">
                <div class="week-day-header"><span class="day-name">@dt.DayOfWeek</span><br /><span class="day-number">@dt.Day</span></div>
                <div class="week-day-body"></div>
            </div>
        }
        else
        {
            <div class="week-day-cell" id="@cellid">
                <div class="week-day-header"><span class="day-name">@dt.DayOfWeek</span><br /><span class="day-number">@dt.Day</span></div>
                <div class="week-day-body"></div>
            </div>
        }
    }
    </div>
</div>
<div id="schedule-event-pane"></div>